body{
    margin: 50px 0 0 0;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, p, span{
    margin: 0px;
    padding: 0px;
}

.container-img{
    width: 100px;
    position: relative;
}
.container-img img{
    position: absolute;
    left: -70px;
    top: 20px;
    display: block;
    height: 380px;
    margin-top: -50px;
    overflow: visible;
}

.title{
    font-size: 1rem;
}
.title span{
    font-size: 2.5rem;
    color: rgb(60, 209, 60);
    text-decoration: underline;
}

.slide li{
    border: 5px solid rgb(60, 209, 60);
    border-radius: 16px;
    display: flex;
    font-size: 1.5rem;
    flex-shrink: 0;
    gap: 0px 10px;
    padding: 10px;
    background-color: rgb(1, 36, 1);
    opacity: .7;
    transform: scale(.8);
    transition: .5s;
}

.slide div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 700px;
}

.slide p{
    text-align: justify;
}
.slide h3{
    text-align: center;
}

.active{
    opacity: 1 !important;
    transform: scale(1) !important;
}

.button_slide{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

.bg_button{
    background-color: rgb(1, 36, 1);
    padding: 20px;
    border-radius: 50%;
}

.arrow{
    border: solid rgb(60, 209, 60);
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
}

.arrow:hover{
    cursor: pointer;
}

.right{
    transform: rotate(-45deg);
}
.left{
    transform: rotate(135deg);
}

[data-control='slide']{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

[data-control='slide'] li{
    background-color: rgb(7, 122, 7);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

[data-control='slide'] li:hover{
    cursor: pointer;
    background-color: rgb(128, 245, 128);
}